<%= simple_form_for(monster) do |f| %>
  <% if monster.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(monster.errors.count, "error") %> prohibited this monster from being saved:</h2>

      <ul>
      <% monster.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :name %>
  </div>

  <div class="field">
    <%= f.input :hp %>
  </div>

  <div class="field">
    <%= f.input :mp %>
  </div>

  <div class="field">
    <%= f.association :version %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
